body {
  width: auto;
  min-height: 691px;
  background-image: url("./14c30768cdfef278727905c2876771df.jpg");
  background-size: cover;
  background-position: center;
}
h1 {
  color: white;
}

div {
  text-align: center;
}

button {
  height: 2.5em;
  width: 5.5em;
  border: none;
  color: white;
}

button:hover {
  cursor: pointer;
}

.startBtn {
  background-color: black;
}
.pauseBtn {
  background-color: grey;
}
.stopBtn {
  background-color: red;
}
